<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    {{#each cssComponents}}
        <link rel="stylesheet" href="/src/components/{{this}}/{{this}}.css">
    {{/each}}

<!--    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/src/styles/style.css">
</head>
<body>
<main class="messenger-container">
    <div class="messenger-body {{#if bodyType}}messenger-body_{{bodyType}}{{/if}}">
        {{{body}}}
    </div>
</main>
</body>
</html>